@* displayPagination Template File *@

@(baseUrl: String, paginator: com.nickelsoftware.bettercare4me.models.Paginator)
<nav>
  <ul class="pagination">
    <li class="@paginator.firstClass">
      <a href="@baseUrl/@paginator.firstPageID/@paginator.pageCnt" aria-label="First">
        <span aria-hidden="true">&lt;</span>
      </a>
    </li>
    <li class="@paginator.prevClass">
      <a href="@baseUrl/@paginator.prevPageID/@paginator.pageCnt" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    
    @for(page <- paginator.pages) {
      <li class="@page.pageClass">
        @if(page.isPage) {
          <a href="@baseUrl/@page.pageID/@paginator.pageCnt">@page.pageLabel</a>
        } else {
          <span aria-hidden="true">&#8230;</span>
        }
      </li>
    }
    
    <li class="@paginator.nextClass">
      <a href="@baseUrl/@paginator.nextPageID/@paginator.pageCnt" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <li class="@paginator.lastClass">
      <a href="@baseUrl/@paginator.lastPageID/@paginator.pageCnt" aria-label="Last">
        <span aria-hidden="true">&gt;</span>
      </a>
    </li>
  </ul>
</nav>

