@(patients: Iterable[com.nickelsoftware.bettercare4me.models.Patient])

@import com.nickelsoftware.bettercare4me.models.Patient

@displayRow(patient: Patient) = {
<li><a href="#">
<h3>@patient.firstName @patient.lastName</h3>
<p>gender: @patient.gender</p>
<p class="ui-li-aside"><strong>@patient.dob.toLocalDate().toString</strong></p>
</a></li>
}


@main("BetterCare4.me") {
  
<h2>Patient List</h2>
<p>from Cassandra . . .</p>
  
<ul data-role="listview" data-inset="true">
    
@for(patient <- patients) {
  @displayRow(patient)
}

</ul>
}
