@(ruleName: String, hedisDate: String, patientCount: Long, ruleScoreSummary: com.nickelsoftware.bettercare4me.hedis.RuleScoreSummary, tuples: scala.collection.immutable.List[(Int, com.nickelsoftware.bettercare4me.models.Patient, Boolean, Boolean)])

@import com.nickelsoftware.bettercare4me.models.Patient

@displayRow(batchID: Int, patient: Patient, isExcluded: Boolean, isMeetMeasure: Boolean) = {
     <tr>
        <td><a href="/patient/@batchID/@patient.patientID/@hedisDate">@patient.firstName @patient.lastName</a></td>
        <td><a href="/patient/@batchID/@patient.patientID/@hedisDate">@patient.gender</a></td>
        <td><a href="/patient/@batchID/@patient.patientID/@hedisDate">@patient.dob.toLocalDate().toString</a></td>
        <td><a href="/patient/@batchID/@patient.patientID/@hedisDate">
          @if(isExcluded) {
            <span class="glyphicon glyphicon-remove"></span>
          }
          </a></td>
        <td><a href="/patient/@batchID/@patient.patientID/@hedisDate">
          @if(!isExcluded) {
            @if(isMeetMeasure) {
              <span class="glyphicon glyphicon-ok"></span>
            } else {
              <span class="glyphicon glyphicon-remove"></span>
            }
          }
          </a></td>
        <td><a href="/patient/@batchID/@patient.patientID/@hedisDate"><span class="glyphicon glyphicon-chevron-right"></span></a></td>
     </tr>
}


@main("BetterCare4.me") {
  
  <div class="container">
    <h2>@ruleScoreSummary.ruleInfo.fullName</h2>
    <p>@ruleScoreSummary.ruleInfo.description</p>
    <p>HEDIS Measures Dashboard for Period Ending on @hedisDate on a population of @patientCount Patients:</p>
    <ul class="list-group">
      <li class="list-group-item"><span class="badge">@ruleScoreSummary.meetDemographics</span> Meet the demographics criteria</li>
      <li class="list-group-item"><span class="badge">@ruleScoreSummary.eligible</span> Meet the eligibility criteria</li> 
      <li class="list-group-item"><span class="badge">@ruleScoreSummary.excluded</span> Meet the exclusion criteria</li> 
      <li class="list-group-item"><span class="badge">@ruleScoreSummary.meetMeasure</span> Meet the HEDIS measure</li> 
    </ul>
    <p>Here's the list of @ruleScoreSummary.eligible Patients that meet the eligible criteria:</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>DOB</th>
          <th>Excluded?</th>
          <th>Meet Measure?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      @for(t <- tuples) {
        @displayRow(t._1, t._2, t._3, t._4)
      }
      </tbody>
    </table>
  </div>
}
