@(ruleName: String, hedisDate: String, patientCount: Long, ruleScoreSummary: com.nickelsoftware.bettercare4me.hedis.RuleScoreSummary, 
  tuples: scala.collection.immutable.List[(Int, com.nickelsoftware.bettercare4me.models.Patient, Boolean, Boolean)],
  paginator: com.nickelsoftware.bettercare4me.models.Paginator)

@import com.nickelsoftware.bettercare4me.models.Patient

@displayRow(batchID: Int, patient: Patient, isExcluded: Boolean, isMeetMeasure: Boolean) = {
     <tr>
        <td><a href="/patient/@batchID/@patient.patientID/@hedisDate"><small>@patient.lastName, @patient.firstName</small></a></td>
        <td><a href="/patient/@batchID/@patient.patientID/@hedisDate"><small>@patient.gender</small></a></td>
        <td><a href="/patient/@batchID/@patient.patientID/@hedisDate"><small>@patient.dob.toLocalDate().toString</small></a></td>
        <td><a href="/patient/@batchID/@patient.patientID/@hedisDate">
          @if(isExcluded) {
            <small><span class="glyphicon glyphicon-remove"></span></small>
          }
          </a></td>
        <td><a href="/patient/@batchID/@patient.patientID/@hedisDate">
          @if(!isExcluded) {
            @if(isMeetMeasure) {
             <small> <span class="glyphicon glyphicon-ok"></span></small>
            } else {
              <small><span class="glyphicon glyphicon-remove"></span></small>
            }
          }
          </a></td>
        <td><a href="/patient/@batchID/@patient.patientID/@hedisDate"><small><span class="glyphicon glyphicon-chevron-right"></span></small></a></td>
     </tr>
}

@displayPagination = {
    <nav>
      <ul class="pagination">
        <li class="@paginator.prevClass">
          <a href="/ruleScorecard/@ruleName/@hedisDate/@paginator.prevPageID/@paginator.pageCnt" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        
        @for(i <- 1 to paginator.nbrPageLinks) {
          <li class="@paginator.pageClass(i)">
            <a href="/ruleScorecard/@ruleName/@hedisDate/@paginator.getPageID(i)/@paginator.pageCnt">@paginator.getPageID(i)</a>
          </li>
        }
        
        <li class="@paginator.nextClass">
          <a href="/ruleScorecard/@ruleName/@hedisDate/@paginator.nextPageID/@paginator.pageCnt" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
}


@main("BetterCare4.me") {
  
  <div class="container">
    <h2>@ruleScoreSummary.ruleInfo.fullName</h2>
    <p>@ruleScoreSummary.ruleInfo.description</p>
    <p>HEDIS Measures Dashboard for Period Ending on @{org.joda.time.DateTime.parse(hedisDate).toLocalDate.toString} on a population of @patientCount Patients:</p>
    <ul class="list-group">
      <li class="list-group-item"><span class="badge">@ruleScoreSummary.meetDemographics</span> Meet the demographics criteria</li>
      <li class="list-group-item"><span class="badge">@ruleScoreSummary.eligible</span> Meet the eligibility criteria</li> 
      <li class="list-group-item"><span class="badge">@ruleScoreSummary.excluded</span> Meet the exclusion criteria</li> 
      <li class="list-group-item"><span class="badge">@ruleScoreSummary.meetMeasure</span> Meet the HEDIS measure</li> 
    </ul>
    <p>Here's the list of @ruleScoreSummary.eligible Patients that meet the eligible criteria:</p>


    <div class="panel panel-default">
      <div class="panel-heading">
        <!--  Add pagination here -->
        @displayPagination
      </div>
      
      <div class="panel-body">
  
        <!--  Begin Panel content -->
        <table class="table table-hover table table-condensed">
          <thead>
            <tr>
              <th><small>Name</small></th>
              <th><small>Gender</small></th>
              <th><small>DOB</small></th>
              <th><small>Excluded?</small></th>
              <th><small>Meet Measure?</small></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          @for(t <- tuples) {
            @displayRow(t._1, t._2, t._3, t._4)
          }
          </tbody>
        </table>
        <!--  End Panel content -->

      <div class="panel-footer">
        <!--  Add pagination here -->
        @displayPagination
      </div>
  
      </div>
    </div>
    
  </div>
}
